html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  justify-content: center; }

.navbar-nav {
  font-size: 25px; }

.container .row {
  display: flex;
  justify-content: center; }

.container-cards .card-deck .card img {
  width: 350px;
  height: 400px;
  align-self: center; }

#carouselExampleControls {
  padding-bottom: 20px; }

.video-cards, .container-cards .card-deck {
  margin-left: 1px;
  margin-right: 1px; }

.navbar {
  display: flex;
  justify-content: space-around; }

.container-fluid {
  padding-bottom: 30px; }

.container-fluid .row {
  background-color: #0000c2; }

.accordion .card-header {
  background-color: #0000c2; }

.accordion h2 {
  background-color: #0000c2;
  padding-bottom: 10px; }

@media screen and (min-width: 320px) and (max-width: 640px) {
  .navbar-brand img {
    width: 90px; } }

.vedio-cards iframe {
  width: 286px;
  height: 180px; }
