html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  justify-content: center; }

.navbar-nav {
  font-size: 25px; }

<<<<<<< HEAD
.container .row {
  display: flex;
  justify-content: center; }

=======
>>>>>>> b21012b9fbe76e3adfddc4f3ddb98a2f57f3eb53
.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed; }

.container-fluid {
  padding-bottom: 30px; }

@media screen and (min-width: 320px) and (max-width: 640px) {
  .navbar-brand img {
<<<<<<< HEAD
    width: 90px; } }
=======
    width: 150px; } }
>>>>>>> b21012b9fbe76e3adfddc4f3ddb98a2f57f3eb53

.vedio-cards iframe {
  width: 486px;
  height: 180px; }
