$fontsize : 25px;

.container {
  display: flex;
  justify-content: center;
}

.navbar-nav{
  font-size: $fontsize;
}
<<<<<<< HEAD


.container .row{
  display: flex;
  justify-content: center;
}
=======
>>>>>>> b21012b9fbe76e3adfddc4f3ddb98a2f57f3eb53
